# Built artifacts
bin/
gen/
out/
build/
.gradle/
.kotlin/
app/build/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.DS_Store

# User-specific / Local config
local.properties
captures/
.externalNativeBuild/
.cxx/

# Firebase / Google Services
# We keep these out of public repos for extra safety
app/google-services.json

# Signing files
*.jks
*.keystore
*.p12

# Logs
*.log

# Sensitive environment variables
.env
